@using Microsoft.Ajax.Utilities
@using SimpleWebForm.Models
@using SimpleWebForm.StaticHelpers
@model SimpleWebForm.Models.DrawFiveList

@{
    ViewBag.Title = "Five Card Draw, Jacks or better to win.";
     var ct = 0;
}
<br/>
<h2>@ViewBag.Title</h2>
<br/>
<div id="GameCreditsDiv" class="pull-right ">

    @{
        if (ViewBag.DidYouWin != null)
        {
            if (@ViewBag.DidYouWin)
            {

                GameCredits.CurrentCredits = GameCredits.CurrentCredits + (int)ViewBag.CreditsWon;
                @Html.Raw(@GameCredits.CurrentCredits.ToString() + " Credits")
            }
            else
            {
                if (GameCredits.CurrentCredits == 1)
                {
                    @Html.ActionLink("Buy More Credits", "BuyMoreCredits")
                    <br />
                    GameCredits.CurrentCredits = GameCredits.CurrentCredits - 1;
                    @Html.Raw(@GameCredits.CurrentCredits.ToString() + " Credits")
                }
                else
                {
                    if (GameCredits.CurrentCredits <= 0)
                    {
                        @Html.ActionLink("Buy More Credits", "http://www.Google.com")
                        <br />
                        GameCredits.CurrentCredits = GameCredits.CurrentCredits = 0;
                        @Html.Raw(@GameCredits.CurrentCredits.ToString() + " Credits")
                    }
                    else
                    {
                        GameCredits.CurrentCredits = GameCredits.CurrentCredits - 1;
                        @Html.Raw(@GameCredits.CurrentCredits.ToString() + " Credits")
                    }
                }
            }
        }
        else
        {

            @Html.Raw(@GameCredits.CurrentCredits.ToString() + " Credits")
        }
    }

</div>
<div class="row">


    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        @{

            if (!ViewBag.Reset)
            {


                using (Html.BeginForm("DiscardAll", "DrawFive", FormMethod.Post, Model))
                {
                    for (var i = 0; i < Model.DrawList.Count; i++)
                    {
                        @Html.HiddenFor(x => x.DrawList[i].CardName)
                        @Html.HiddenFor(x => x.DrawList[i].SuitName)
                        @Html.HiddenFor(x => x.DrawList[i].SuitColor)
                        @Html.HiddenFor(x => x.DrawList[i].SuitColorName)
                        @Html.HiddenFor(x => x.DrawList[i].Discard)
                        @Html.HiddenFor(x => x.DrawList[i].OverAllHierarchyCardValue)
                        @Html.HiddenFor(x => x.DrawList[i].HierarchyValue)
                        @Html.HiddenFor(x => x.DrawList[i].ImagePath)
                    }

                    @*<input type="submit" class="btn btn-default " value="Select All Cards for Discard">*@
                    <button type="submit">
                        <span class="glyphicon glyphicon-ok"> Select All Cards for Discard</span>
                    </button>

                }
            }
        }
        <br/>
    </div>


</div>

@using (Html.BeginForm("Index","DrawFive", FormMethod.Post, Model))
{


    <table class="table">
        <tr>

            <th>
                Card Name
            </th>
            <th>
                Suit Name
            </th>
            <th>
                Image
            </th>
            <th class="text-center">
                Discard
            </th>

        </tr>

        @foreach (var item in Model.DrawList)
        {
           
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuitName)
                </td>
                <td>
                    <img src="@Url.Content(item.ImagePath)" alt="Image" width="30" height="30" />
                </td>
                <td class="text-center">
                    @*@Html.EditorFor(m => m.DrawList[ct].Discard, new { htmlAttributes = new { @class = "form-control" } })*@
                    @{
                        var myId = Model.DrawList[ct].OverAllHierarchyCardValue;
                        string curValue = Model.DrawList[ct].Discard.ToString();

                    }

                    @{
                        if (ViewBag.Reset)
                        {
                            @Html.DisplayFor(m => m.DrawList[ct].Discard, new { htmlAttributes = new {@class = "form-control" } })
                        }
                        else
                        {
                            @Html.EditorFor(m => m.DrawList[ct].Discard, new { htmlAttributes = new { id = "dis", @class = "form-control" } })
                        }
                    }

                  

                </td>
            </tr>

            ct += 1;

        }

    </table>




    <div class="form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">

            @Html.HiddenFor(m => Model.DiscardCount)
            @{
                for (var i = 0; i < Model.DrawList.Count; i++)
                {
                    @Html.HiddenFor(x => x.DrawList[i].CardName)
                    @Html.HiddenFor(x => x.DrawList[i].SuitName)
                    @Html.HiddenFor(x => x.DrawList[i].SuitColor)
                    @Html.HiddenFor(x => x.DrawList[i].SuitColorName)
                    @Html.HiddenFor(x => x.DrawList[i].Discard)
                    @Html.HiddenFor(x => x.DrawList[i].OverAllHierarchyCardValue)
                    @Html.HiddenFor(x => x.DrawList[i].HierarchyValue)
                    @Html.HiddenFor(x => x.DrawList[i].ImagePath)


                }


            }

            @{
                if (ViewBag.Reset)
                {
                    if (GameCredits.CurrentCredits > 0)
                    {
                        @Html.ActionLink("Play a new Game of Five Card Draw", "Index", "DrawFive", new {@class = "btn-lg"})
                    }
                    <br />
                    <div class="text-center bg-info">

                        <br />
                        @if (@ViewBag.DidYouWin)
                        {
                            <h1 class="glyphicon glyphicon-thumbs-up"> @ViewBag.WinningHand  @ViewBag.Message </h1>
                        }
                        else
                        {
                            <h3> Sorry, you lost.  You need a pair of Jacks or better to win.  Please try again. </h3>
                        }
                        <br />

                    </div>
                }
                else
                {
                    <input type="submit" value="Draw new cards or Stay" class="btn btn-default btn-success" />
                }
            }

        </div>
    </div>
    <br/>
    <div class="row text-center">
        <br/>
        <img src="~/img/WinningHands.png" />
    </div>


    
    @Scripts.Render("~/bundles/jquery")
    <script>


       
    </script>
}
