@model SimpleWebForm.Models.UserCredit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h3>Play as this user</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Start New Game using this Player",
        "StartNewGame",
        "DrawFive",
        new {id = Model.UserId},
        null) |
    @Html.ActionLink("Edit", "Edit", new {id = Model.UserId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
